<div>
    <label for="password1">Password:</label>
    <input type="password" id="password1" [(ngModel)]="password1" name="password1" required (input)="checkPassword()">
  </div>
  <div>
    <div class="password-requirements">
      <p [ngClass]="{'text-success': isLowerCaseMet, 'text-danger': !isLowerCaseMet}">
        At least one lowercase letter
      </p>
      <p [ngClass]="{'text-success': isUpperCaseMet, 'text-danger': !isUpperCaseMet}">
        At least one uppercase letter
      </p>
      <p [ngClass]="{'text-success': isNumberMet, 'text-danger': !isNumberMet}">
        At least one number
      </p>
      <p [ngClass]="{'text-success': isSymbolMet, 'text-danger': !isSymbolMet}">
        At least one special character (e.g., @$!%*?&)
      </p>
    </div>
    <label for="password2">Confirm Password:</label>
    <input type="password" id="password2" [(ngModel)]="password2" name="password2" required>
  </div>
  <button (click)="new_password()">Change Password</button>
  