<div class="pt-8">
  <div
    class="grid grid-cols-2 place-content-center	 md:grid-cols-3  gap-4 lg:gap-x-12 lg:gap-y-14 gap-y-8 grid-flow-row px-4 ">
    <div class="flex flex-1 " *ngFor="let item of items">
      <div class="grow relative shadow-xl rounded-3xl flex flex-col items-start justify-center">
        <mat-card-header>
          <img mat-card-image class="rounded-t-3xl min-w-full" src="{{item.imagen}}" />

        </mat-card-header>

        <mat-card-content class="p-5 w-full">
          <div class="flex justify-between ">
            <mat-card-title class="font-bold text-lg block">{{item.titulo}} </mat-card-title>
            <mat-card-title *ngIf="producto" class="font-bold text-lg block">${{item.precio.toFixed(2)}}
            </mat-card-title>
          </div>
          <p *ngIf="producto" class="text-sm text-gray-400">{{item.descripcion}}</p>

          <mat-card-actions *ngIf="!producto">
            <button mat-raised-button (click)="redirect('ver-menu/1')"
              class="py-4 px-8 text-sm rounded-full text-white mt-2" color="primary">Ver
              menú</button>
          </mat-card-actions>
          <mat-card-actions *ngIf="producto">
            <button mat-raised-button (click)="seleccionar(p)" class="py-4 px-8 text-sm rounded-full text-white mt-2"
              color="primary">Seleccionar</button>
          </mat-card-actions>
        </mat-card-content>

      </div>
    </div>
  </div>
</div>