<div class="pt-8">
  <div
    class="grid grid-cols-2 place-content-center	 md:grid-cols-3  gap-4 lg:gap-x-12 lg:gap-y-14 gap-y-8 grid-flow-row px-4 ">
    <div class="flex flex-1 " *ngFor="let restaurante of restaurantes">
      <div class="grow relative shadow-xl rounded-3xl flex flex-col items-start justify-center">
        <mat-card-header>
          <img mat-card-image class="rounded-t-3xl min-w-full" src="{{restaurante.imagen}}" />

        </mat-card-header>

        <mat-card-content class="p-5">
          <mat-card-title class="font-bold text-lg block">{{restaurante.titulo}} </mat-card-title>
          <mat-card-actions>
            <button mat-raised-button class="py-4 px-8 text-sm rounded-full text-white mt-2" color="primary">Ver
              menú</button>
          </mat-card-actions>
        </mat-card-content>

      </div>
    </div>
  </div>
</div>