<div class="px-2 md:px-16 py-5 flex justify-between	">
  <app-logo />
  <app-searchbar class="grow" />
  <div class="flex justify-around items-center gap-3">

    <button mat-button (click)="redirect('login')"
      class="text-orange-600 font-medium	text-xs flex items-center gap-1 hidden md:flex"> <mat-icon
        color="primary">account_circle</mat-icon>Ingresar</button>
    <div class="flex md:hidden">
      <mat-icon color="primary">account_circle</mat-icon>
    </div>
    <mat-divider [vertical]="true" class="h-1/2"></mat-divider>
    <button mat-flat-button class="text-gray-600" (click)="redirect('carrito')"><mat-icon
        class="m-0">shopping_cart</mat-icon></button>
  </div>

</div>