.sign-in-container{
    margin: 0; 
    display: flex;
    position: absolute;
    background-color: rgb(255, 250, 247);
}
/****************/

.dd-logo-container{
    width: 400px;
}
.dd-logo{
    margin-top: 80px; 
    padding-top: 40px; 
    padding-bottom: 30px; 
    width: 85px;
}

/****************/

.sign-in-contents{
    background-color: rgb(255, 250, 247); 
    font-family: Roboto, Arial; 
    font-size: 14px; 
    color: rgb(169, 169, 169);
    height: 100%; 
    display: grid; 
    justify-content: center; 
    padding-left: 80px; 
    padding-right: 80px;
}

/****************/

.sign-in-legend-container{
    display: grid;
    justify-items: center;
}
.sign-in-legend-title{
    color: black;
    display: block;
    margin-bottom: 10px; 
    font-size: 34px; 
    font-weight: bold;
}
.sign-in-legend-subtitle{
    display: block;
    margin-bottom: 20px;
}

/****************/

label{
    gap: 0 0.5rem;
    display: block;
}

#password,
#email{
    width: 300px;
    height: 25px;
    margin-top: 5px;
    border: solid 2px;
    border-radius: 16px;
    border-color: rgb(244, 137, 8);
}

.sign-in-email-container{
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 12px;
}
.sign-in-password-container{
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 6px;
}

/****************/

#rememberMeLabel{
    display: inline-block;
}

.sign-in-footer{
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: grid;
    position: relative;
}

.sign-in-rembemberme{
    position: absolute;
    left: 60px;
}
.sign-in-forgot-pass{
    position: absolute;
    color: rgb(244, 137, 8);
    right: 60px;
    height: 16px;
    margin-top: 2px;
    padding: 0;
}

.sign-in-forgot-pass:hover{
    cursor: pointer;
}

/****************/

.sign-in-button-container{
    padding-left: 70px;
    padding-right: 70px;
    display: grid;
    justify-items: center;
}
.sign-in-button{
    border: 0px;
    border-radius: 16px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 140px;
    height: 32px;
    background-color: rgb(244, 137, 8);
    color: white;
    transition: opacity 0.15s;
}
.sign-in-button:hover{
    cursor: pointer;
    opacity: 0.7;
}
.sign-in-button:active{
    background-color: rgb(255, 140, 0);
    opacity: 1.5;
}

/****************/

.sign-in-other-acc-container{
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 12px;
    display: grid;
    justify-items: center;
}
.sign-in-other-acc-title{
    color: black;
}
.sign-in-other-acc-some{
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}
.sign-in-google,
.sign-in-facebook,
.sign-in-instagram,
.sign-in-linkedin{
    width: 20px;
}
.sign-in-google-container,
.sign-in-facebook-container,
.sign-in-instagram-container,
.sign-in-linkedin-container{
    margin-left: 10px;
    margin-right: 10px;
}

/****************/

.sign-in-create-acc-container{
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    align-items: space-between;
}
.sign-in-noacc-title{
    margin-left: 51px;
    color: black;
}
.sign-in-sign-up{
    margin-left: 3px;
    color: rgb(244, 137, 8);
}
.sign-in-sign-up:hover{
    cursor: pointer;
}

/****************/

.promo-image-container{
    background-color: blanchedalmond; 
    flex-grow: 1; 
    height: 100%;
}
.promo-image{
    width: 450px;
}