<div class="login-container">
    <img src="/assets/logo.png" alt="" style="height: 60px; width: 60px; margin-bottom: 21px;">
    <p class="title">DashDiner</p>
    <div class="separator"></div>
    <h5 class="recover_password">Recuperar contraseña</h5>
    <p class="welcome-message">Ingrese su correo electrónico para recuperar contraseña</p>
    <form class="login-form" [formGroup]="forgotPasswordForm">
      <div class="form-control">
        <input formControlName="email" class="form-control" type="email" id="email">
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
            <div *ngIf="email.errors?.['required']">Email is required</div>
            <div *ngIf="email.errors?.['email']">Email is invalid</div>
        </div>      
        <i class="fas fa-user"></i>
      </div>
      <button (click)="forgotPassword()" class="submit" type="submit" name="enviar" value="Enviar">Enviar</button>
    </form>
  </div>