<app-navbar></app-navbar>

<div class="flex flex-col lg:flex-row lg:py-8 gap-4 xl:gap-16 md:px-4 xl:px-12 py-6 ">
  <h1 class="font-bold text-2xl border-b lg:hidden mx-4">{{restaurante.nombre}}</h1>
  <div
    class="grid lg:grid-flow-row grid-cols-3	px-4 lg:grid-cols-none gap-2 lg:gap-8 lg:justify-items-center auto-rows-max	 min-w-fit	">
    <div>
      <img class="border border-gray-300 rounded-full h-[150px] lg:h-[200px]"
        src="https://static.vecteezy.com/system/resources/previews/012/003/573/original/pizzeria-emblem-on-blackboard-pizza-logo-template-emblem-for-cafe-restaurant-or-food-delivery-service-vector.jpg" />


      <h1 class="font-bold text-2xl hidden lg:block text-center my-2">{{restaurante.nombre}}</h1>
    </div>


    <div class="flex flex-col col-span-2	lg:col-span-1 justify-self-end	self-center	">
      <button mat-flat-button class="flex items-top font-semibold text-sm text-[#0D2C54] p-2"><mat-icon
          class="text-sm">favorite_border</mat-icon>Agregar a
        favoritos
      </button>
      <p>{{restaurante.direccion}}</p> <!-- direccion -->
      <p>{{restaurante.celular}}</p>
      <p>{{restaurante.horario}}</p><!-- celular -->
    </div>
    <ul class="px-4 w-full text-start lg:flex-col flex justify-around lg:justify-start col-span-3	lg:col-span-1	">
      <a class="hover:bg-orange-50 transition-all ease-in-out	duration-300	" *ngFor="let c of categorias"
        [ngClass]="{'bg-orange-50':c == categoria_seleccionada}" (click)="actualizarProductos(c.id,c)">
        <li class="my-2 mx-4 border-0 ">
          {{c.nombre}}</li>
        <mat-divider [ngClass]="{'border-t-orange-600':c == categoria_seleccionada}"></mat-divider>
      </a>

    </ul>
  </div>

  <div class="w-full">
    <app-carousel [promociones]="promociones"></app-carousel>
    <app-grid [producto]="true" [items]="productos"></app-grid>

  </div>

</div>